{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["@typescript-eslint", "import", "node"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "project": ["./tsconfig.json", "./scripts/tsconfig.json"]
  },
  "settings": {
    "import/resolver": {
      "typescript": true
    }
  },
  "rules": {
    "node/no-restricted-import": [
      "error",
      [
        {
          "name": ["path", "node:path"],
          "message": "Please use src/util/path.js instead."
        }
      ]
    ],
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "import/no-unresolved": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", ["external", "internal"], "parent", "sibling", "index", "object", "unknown", "type"],
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "newlines-between": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": ["./tests/**/*.{js,ts,tsx}"],
      "parserOptions": {
        "sourceType": "module",
        "project": "./tests/tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/no-floating-promises": "off"
      }
    }
  ]
}
