@use "pkg:@fortawesome/fontawesome-free/scss/fontawesome";
@use "./variables" as *;

.button {
  background-color: $primary;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: darken($primary, 10%);
  }

  &--secondary {
    background-color: $secondary;
  }
}
