name: Tests (against typescript@5.0.4)

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - '**'
    tags:
      - '!**'

jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest
        node:
          - 18
          - 20

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} (Node v${{ matrix.node }})

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: npm install typescript@5.0.4 @types/node@18 --ignore-scripts
      - name: Build knip
        run: npm run build
        working-directory: packages/knip
      - name: Run knip
        run: npx --yes knip
      - name: Run knip (production/strict)
        run: npx --yes knip --production --strict
      - name: Test knip
        run: npm run test:node
        working-directory: packages/knip
