.content-panel + .content-panel {
  border: unset;
}

.sl-markdown-content table {
  overflow: unset;
}

.sl-markdown-content table th,
.sl-markdown-content table td {
  white-space: nowrap;
  padding: 0.3rem 1rem 0.3rem 0;
  border: none;
}

.sl-markdown-content table thead {
  border-bottom: 1px solid var(--sl-color-gray-1);
}

h2 em {
  font-weight: bold;
}

h2 code,
h3 code {
  color: var(--sl-color-gray-1);
}

p code {
  white-space: nowrap;
}

blockquote {
  border-inline-start-color: var(--sl-color-gray-1);
}

section.columns ul {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 0.5rem;
  white-space: nowrap;
}

section.columns.min200 ul {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

section.columns.min300 ul {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section.plugins li {
  margin: 0;
}

:root {
  .header {
    border-bottom-color: var(--sl-color-dark-orange);
  }
}

:root[data-theme='light'] {
  .header {
    border-bottom-color: var(--sl-color-orange);
  }
}

.sponsor {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5rem;
}
