@layer knip {
  article.prose {
    max-width: 72ch;
    margin-bottom: 4rem;
  }

  section.columns ul {
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  section.columns.mt ul {
    margin-top: 3rem;
  }

  section.columns.min200 ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  section.columns.min300 ul {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  section.plugins li {
    margin: 0;
  }

  .sl-markdown-content .mw500 {
    max-width: 500px;
  }

  .logo-border {
    width: 200px;
    border: 2px solid var(--sl-color-gray-4);
    border-radius: 40px;
  }

  .playground iframe {
    width: 100%;
    height: 600px;
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.5rem;
  }

  .sl-markdown-content p > img {
    margin: 2rem 0;
    border-radius: 0.5rem;
  }
}
