@layer knip {
  .hero h1 {
    font-size: clamp(4rem, 12vw, 8rem);
    font-variation-settings:
      "SOFT" 30,
      "opsz" 144;
    letter-spacing: -0.04em;
    line-height: 1;
  }

  .hero img {
    border: 4px solid var(--sl-color-white);
    border-radius: 80px;
  }

  :root[data-theme="light"] .hero img {
    border-color: var(--sl-color-black);
  }

  .sl-link-button.primary {
    background-color: var(--sl-color-accent-low);
    border-color: var(--sl-color-accent);
    color: var(--sl-color-accent-high);
  }

  .sl-link-button.primary:is(:hover, :focus-visible) {
    border-color: var(--sl-color-accent-high);
    color: var(--sl-color-white);
  }

  [data-has-hero] .sl-markdown-content .sl-heading-wrapper:is(.level-h2, .level-h3):not(:where(.not-content *)) {
    margin-top: 5rem;
  }

  [data-has-hero] .sl-markdown-content > .sl-heading-wrapper:is(.level-h2, .level-h3):first-child {
    margin-top: 3rem;
  }
}
