.sl-markdown-content a {
  color: var(--sl-color-text);
  text-decoration: none;
  padding-bottom: 0.0675rem;
  border-bottom: 1px solid var(--sl-color-gray-1);
  transition: border-color 300ms;
}

.sl-markdown-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    a::before {
      content: '#';
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -1.5rem;
      text-decoration: none;
      border-bottom: none;
      opacity: 0;
      color: var(--sl-color-text);
      transition: color 0.3s, opacity 0.3s;
    }

    &:hover a {
      opacity: 1;
    }
  }
}

.right-sidebar a:hover,
.sidebar-content a:hover,
.sidebar-content a:hover {
  color: var(--sl-color-orange);
}

.right-sidebar a,
.right-sidebar a:hover,
.sidebar-content a,
.sidebar-content a:hover {
  background-color: unset;
}

footer .pagination-links a {
  border-color: var(--sl-color-black);
  box-shadow: var(--sl-shadow-lg);
}

footer .pagination-links a:hover {
  border-color: var(--sl-color-gray-3);
  box-shadow: var(--sl-shadow-md);
}

:root {
  .starlight-aside a {
    color: var(--sl-color-white);
  }
}

:root {
  .sl-markdown-content a:hover {
    border-color: var(--sl-color-white);
  }
}

:root[data-theme='light'] {
  .sl-markdown-content a:hover {
    border-color: var(--sl-color-orange);
  }

  .tab a[role='tab'] {
    border-color: var(--sl-color-gray-5);
  }
  .tab a[role='tab']:hover {
    border-color: var(--sl-color-white);
  }
  .tab a[role='tab'][aria-selected] {
    border-color: var(--sl-color-white);
  }
}
