.sponsors-body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.sponsors-body > .column {
  margin-top: 0;
  flex-basis: 50%;
  max-width: 65ch;
}

.sponsors-body > .column:first-of-type {
  max-width: 65ch;
  align-self: flex-start;
}

@media (min-width: 960px) {
  .sponsors-body {
    flex-direction: row;
    align-items: unset;
  }
}

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  margin-bottom: 3rem;
}

.sponsors a {
  border-bottom: none;
}

.sponsors img {
  border: 1px solid var(--sl-color-white);
  border-radius: 16px;
}

.sponsors .w500 {
  width: 500px;
}

.sponsors .w400 {
  width: 400px;
}

.sponsors .w300 {
  width: 300px;
}

.sponsors .w200 {
  width: 200px;
}

.sponsors .w150 {
  width: 150px;
}

.sponsors .w100 {
  width: 100px;
}
