/* Colors borrowed from https://twitter.com/tushtisachdeva/status/1738940090628571177 */

:root {
  --sl-font: 'Source Sans Pro', sans-serif;

  --sl-color-orange: #f56e0f;
  --sl-color-bright-orange: #f68a22;

  --sl-color-white: #fbfbfb;
  --sl-color-gray-1: #bdbdbd;
  --sl-color-gray-2: #878787;
  --sl-color-gray-3: #878787;
  --sl-color-gray-4: #353841;
  --sl-color-gray-5: #262626;
  --sl-color-gray-6: #1b1b1e;
  --sl-color-black: #151419;

  --sl-color-text: var(--sl-color-gray-1);
  --sl-color-accent-low: var(--sl-color-orange);
  --sl-color-text-accent: var(--sl-color-white);

  --sl-color-bg: var(--sl-color-gray-6);
  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-bg-sidebar: var(--sl-color-black);
  --sl-color-bg-inline-code: rgb(30, 30, 30);
  --astro-code-color-background: var(--sl-color-black);

  --sl-color-hairline-light: var(--sl-color-gray-5);
  --sl-color-hairline: var(--sl-color-gray-5);
}
