:root[data-theme='light'] {
  --sl-color-orange: #f56e0f;

  --sl-color-text-accent: var(--sl-color-white);
  --sl-color-text-invert: var(--sl-color-orange);
  --sl-color-accent: var(--sl-color-orange);
  --sl-color-accent-low: var(--sl-color-orange);
  --sl-icon-color: var(--sl-color-white);
  --sl-color-bg-inline-code: var(--sl-color-gray-6);
}
